@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bruno+Ace+SC&family=Flow+Rounded&family=Gruppo&family=Lexend+Peta:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;600&family=Rajdhani:wght@300;400;500;600&family=Splash&family=Ysabeau+SC:wght@100;200;300;400;500;600;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

body {
  padding: 20px 130px;
}

.completed {
  text-decoration: line-through;
}

.not-completed {
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 5px;
}

.input-area {
  display: flex;
  align-items: center;
  gap: 3px;
}

.input-task {
  border: none;
  outline: none;
  height: 25px;
  padding: 3px;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  gap: 10px;
  height: 20px;
  align-items: center;
}

.body-center {
  display: flex;
  justify-content: center;
}

.detail-task {
  width: auto;
  /* border: 1px solid red; */
  position: absolute;
  background-color: #52c6ec;
  padding: 2px 8px;
  left: 0;
  top: -13px;
}

/* .see-all {
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.see-all:hover {
  color: #f13b0e;
}

.see-all::before {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -15px;
  top: -7px;
  content: "";
  transition: all 0.1s ease-in-out;
}

.see-all:hover::before {
  background-color: rgba(90, 89, 89, 0.199);
} */

.task p {
  width: 100%;
  /* border: 2px solid red; */
}

.del:hover i {
  color: rgb(209, 104, 104);
  background-color: rgba(192, 189, 189, 0.137);
}

.del {
  color: rgb(167, 163, 163);
  /* border: 2px solid red; */
  padding: 0;
}

.del i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

li {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Style untuk tabel */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
}

/* Style untuk header tabel */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style untuk sel dalam tabel */
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style untuk baris ganjil dalam body tabel */
tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.thead tr {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

.thead th {
  background-color: rgb(82, 198, 236);
  font-size: 14px;
  font-weight: 400;
}
.tbody th {
  font-size: 14px;
  font-weight: 400;
}

th i {
  color: #aca9a9;
}

.add {
  font-weight: 500;
  font-size: 10px;
  padding: 4px;
  border: none;
}

.hoverCheck {
  position: relative;
}

.hoverCheck::after {
  position: absolute;
  padding: 2px 6px;
  left: -120px;
  top: 8px;
}

.hoverCheck:hover::after {
  position: absolute;
  background-color: rgb(82, 198, 236);
  content: "click to Cancel";
}

.container svg {
  font-size: 7px;
  overflow: visible;
}

/* Variation of work by @mrhyddenn for Radios */

.box {
  padding: 0;
}

.check {
  transition: all 0.1s ease-in-out;
  /* border: 2px solid red; */
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:hover {
  background-color: rgba(192, 189, 189, 0.137);
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(167, 163, 163);
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #57dd1496);
}

.cbx2:checked + .check svg {
  stroke: var(--accent-color, #0ef10e);
}

.cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.th-edit {
  /* border: 2px solid red; */
  padding: 0;
}

.edit {
  color: rgb(167, 163, 163);
  /* border: 2px solid red; */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.edit:hover {
  background-color: rgba(192, 189, 189, 0.137);
  color: rgb(82, 198, 236);
}
